{% extends 'base.html' %}
{% block delete_director_confirmation %}
<br>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form action="{% url 'delete_subject' data %}" method="POST">
                <h2 class="card-title">Are you sure?</h2>
                <br>
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" name="yes" value=" Yes">
                <input class="btn btn-secondary" type="submit" name="no" value="No">
            </form>
        </div>
    </div>


{% endblock %}